<robot name="rrr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Archivos externos-->
  <xacro:property name="package_name" value="example_description"/>
  <xacro:include filename="$(find ${package_name})/urdf/rrr_full_robot_stl.urdf"/>
  <xacro:include filename="$(find ${package_name})/urdf/sensors/rrr_sensor_macro.urdf"/>
  
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="shoulder_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="forearm_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <!--Pluging de control de posición -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control" >
      <parameters>$(find ${package_name})/config/rrr_position_controller.yaml</parameters>
    </plugin>
  </gazebo>
  <!--Sensores -->
  <xacro:camera_macro name="camera_0" link = "p_link"/>
  <xacro:lidar_macro name="lidar_0" link = "p_link"/>
  <xacro:imu_macro name="imu_0" link = "p_link"/>
  <xacro:sonar_macro name="sonar_0" link = "p_link"/>
  

</robot>
