<?xml version="1.0" encoding="utf-8"?>
<robot name="robot_scara" xmlns:xacro="http://ros.org/wiki/xacro" >
  <!--Sensor sonar -->
  <xacro:macro name="sonar_macro" params="name link rate:=15 visualize:=true min_dis:=0.04 max_dis:=3 min_ang:=-${pi} max_ang:=${pi}">
    <gazebo reference="${link}">      
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <always_on>true</always_on>
        <update_rate>${rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>2</samples>
              <resolution>1</resolution> 
              <min_angle>-25</min_angle>
              <max_angle>25</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution> 
              <min_angle>0</min_angle>
              <max_angle>25</max_angle> 
            </vertical>
          </scan>
          <range>
            <min>${min_dis}</min>
            <max>${max_dis}</max>
            <resolution>${pi/180}</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin filename="libgazebo_ros_ray_sensor.so" name="${name}">
          <ros>
            <remapping>~/${name}_out:=sonar</remapping>
          </ros>
          <output_type>sensor_msgs/Range</output_type>
          <radiation_type>ultrasound</radiation_type> <!-- infrared=1, ultrasound=0 -->
          <frame_name>${link}</frame_name>
        </plugin>
      </sensor>  
    </gazebo>
  </xacro:macro>
</robot>